{% extends 'base.html.twig' %}
{% block header %}
    <span style="font-size: 22px;">用户列表</span>
    <a class="btn btn-default pull-right" href="{{ path('admin_user_add') }}">添加</a>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover tablesorter">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>邮箱</th>
                        <th>用户昵称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.username}}</td>
                            <td>
                                {#{% if user.isActive == 1 %}启用{% else %}禁用{% endif %}#}
                                <a href="{{ path('admin_user_update', {id:  user.id}) }}">更新</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
