<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>后台管理</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.css') }}">

    <!-- Add custom CSS here -->
    <link href="{{ asset('css/sb-admin.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/css/sb-admin.css') }}">
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="{{ asset('/css/morris-0.4.3.min.css') }}">
</head>

<body>

<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('custom_admin_homepage') }}">管理首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                {% for menu in  generate_first_menu(app.user.id) %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> <strong>{{ menu.name }} </strong><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    {% for second in generate_second_menu(menu.id) %}
                        <li><a href="{{ path(second.url) }}">{{ second.name }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="message-preview"><span class="avatar"></span></li>
                <li class="">
                    <a href="#" class="" data-toggle=""><span class="" style="font-size: 20px;">Hi. {{ app.user.username }}</span> </a>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </nav>

<!-- /#body -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
            {% block header %}页面头{% endblock %}
            </div>
            <div class="row">
                <ol class="breadcrumb">
                    {% block bread %}
                        <li class="active">面包屑</li>
                    {% endblock %}
                </ol>
            </div>
        </div>
    </div>

{% block body %}内容{% endblock %}
</div>

</div>
    <!-- JavaScript -->
<script src="{{ asset('/js/jquery-1.10.2.js') }}"></script>
<script src="{{ asset('/js/bootstrap.js') }}"></script>

<!-- Page Specific Plugins -->    <script src="{{ asset('/js/raphael-min.js') }}"></script>
<script src="{{ asset('js/morris-0.4.3.min.js') }}"></script>
<script src="{{ asset('js/morris/chart-data-morris.js') }}"></script>
<script src="{{ asset('js/tablesorter/jquery.tablesorter.js') }}"></script>
<script src="{{ asset('/js/tablesorter/tables.js') }}"></script>

</body>
</html>
