{% extends 'base.html.twig' %}

{% block body %}
    <h1>用户列表</h1>
    <ul>
        <li>
            <button type="button"></button>
            <a href="{{ path('syssetting_new') }}">添加配置</a>
        </li>
    </ul>
    <table class="layui-table">
        <colgroup>
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="200">

            <col>
        </colgroup>
        <thead>
            <tr>
                <th>编号</th>
                <th>配置id</th>
                <th>配置类型</th>
                <th>配置key</th>
                {#<th>值</th>#}
                <th>备注</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for systemSetting in systemSettings %}
            <tr>
                <td><a href="{{ path('syssetting_show', { 'id': systemSetting.id }) }}">{{ systemSetting.id }}</a></td>
                <td>{{ systemSetting.paramId }}</td>
                <td>{{ systemSetting.paramType }}</td>
                <td>{{ systemSetting.paramKey }}</td>
                {#<td>{{ systemSetting.paramValue }}</td>#}
                <td>{{ systemSetting.memo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('syssetting_show', { 'id': systemSetting.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('syssetting_edit', { 'id': systemSetting.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
