{% extends 'base.html.twig' %}
{% block header %}
    <span style="font-size: 22px;">角色列表</span>
    <a class="btn btn-default pull-right" href="{{ path('admin_role_add') }}">添加</a>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover tablesorter">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>角色名称</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for role in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ role.id }}</td>
                            <td>{{ role.roleName }}</td>
                            <td>{{ role.remark}}</td>
                            <td>
                                {#{% if user.isActive == 1 %}启用{% else %}禁用{% endif %}#}
                                <a href="{{ path('admin_role_update', {id:  role.id}) }}">更新</a>
                                <a href="{{ path('admin_role_delete', {id:  role.id}) }}">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
